---
layout: default
---

<p>This is a collection of all the notes I created, starting from 2020.</p>
<br/>
<div class="folder_list">
  {% for category in site.categories %}
    <a href="{{ site.baseurl }}{{ category[0] }}">
      <div class="folder">
        <div class="folder__back">
          <div class="paper"></div>
          <div class="paper"></div>
          <div class="paper"></div>
          <div class="folder__front"></div>
          <div class="folder__front right"></div>
        </div>
        <span>{{category[0]}} ({{ category[1].size }})</span>
      </div>
    </a>
  {% endfor %}
</div>

<h1>Timeline</h1>
{% for post in site.posts %}
  {% assign currentdate = post.date | date: "%Y" %}
  {% if currentdate != date %}
    <h2 id="y{{currentdate}}">{{ currentdate }}</h2>
    {% assign date = currentdate %} 
  {% endif %}
    {{post.path | split:'/' | third}}
    <a href="{{ post.url }}">{{ post.title }}</a><br/>
{% endfor %}
