---
layout: default
---

<h1>{{ page.url | split:'/' | second }}</h1>
    <table>
        <tr>
            <th>Title</th>
            <th>Created</th>
        </tr>
        {% assign category = site.categories.[page.category] %}
        {% for post in category %}
            {% if post.title != null %}
                {% if group == null or group == post.group %}
                <tr>
                    <td>
                        <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                    </td>
                    <td>
                        {{ post.date | date: "%Y/%m/%d" }}
                    </td>
                </tr>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% assign category = nil %}
        {% assign group = nil %}
    </table>